/*
 * Estilos de tu proyecto
 */
body {
	margin: 0 auto;
}
header {
  background-color: #2c3e50;
  font-family: "Montserrat";
  width: 100%;
  height: 18%;
  text-align: right;
  margin-top: 0;
  position: fixed;
  
}

a {
  color: white;
  text-decoration: none;
}

.menu-right {
	float: : right;
	font-size: 16px;
}

.menu-left {
	float: left;
	font-size: 30px;
}

header > .menu-right {
  margin-top: 50px;
  margin-right: 120px;
}

header > div > .menu {
  margin: 20px 10px;
  font-weight: 800;	
}

header > .menu-left {
  margin-top: 30px;
  margin-left: 110px;
}

header > div > .menu1 {
  margin: 20px 10px;
  font-weight: 800;	
}

.menu:hover {
	color: #18bc9c;
}

#section1 {
	background-color: #18bc9c;
	text-align: center;
  color: white;
  height: 750px;
  font-family: "Montserrat";
}

#section1 > div {
  padding-top: 200px;
}

#section1 > div > h1 {
	font-size: 80px;
	margin-top: 0;	
}

#section1 > div > p {
	font-size: 25px;
}

.mt-0 {
  margin-top: 0px;
}

#section2 {
  background-color: white;
  text-align: center;
  color: #212529;
  height: 650px;
  font-family: "Lato";
  font-size: 35px;
  margin-top: 80px;


 outline: 1px solid red;
}

#section2 img {
  display: inline-block;
  float: left;
  margin: 10px 10px;
  margin-left: 55px;
  
}

#section2 img {
 width: 300px;
 height: 200px;
}

#section3 {
  background-color: #18bc9c;
  height: 500px;
  font-family: "Montserrat";
  text-align: right;
}

.text-section3 {
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: 50px;
}
  

